.userFoto,.loaderImg{
    width: 150px;

}
.loaderImg{
    top: 25vh;
    left: 45%;

    position: absolute;
}
.selectedPage{
    font-weight: bold;
    padding-left: 2px;
}
.page{
    padding-left: 2px;
    cursor: pointer;
}
