
.form {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: flex-start;
    gap: 10px;
}
.checkbox{
    display: flex;
}
input[type="checkbox"]{
    align-self: flex-start;
}

.form button{
    width: 70%;
    justify-items: center;
}
