
.form {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: flex-start;
    gap: 10px;
}
.checkbox{
    display: flex;
    width: 100%;
    gap: 10px;
}
.checkbox input[type="checkbox"]{

    width: 15px;
}

.form button{
    width: 70%;
    justify-items: center;
}
